important points
- regression, linear regression, support vector machine??, Gyan, CNN, RNN
- Machine learning model can be a mathematical representation of a real world process
- Artificial Intelligence ⊇ Machine Learning ⊇ Deep Learning
- Supervised, Unsupervised, (Semi-supervised), Reinforcement Learning
- Supervised Learning => data with label 
- Unsupervised Learning => data without label, but dividing data into clusters in which 1 cluster share similar properties from within 
- Market/Basket Analysis !!, Association technique in contrast with clustering technique in Unsupervised Learning 
- Apriori Algorithm uses conditional probability, check it out
- Supervised Learning
    - Classification, 
    - Regression (used only if the output is numerical, quantitative data)

# Linear Regression

- Correlation helps to check whether two variable are related or not, if they are they identityf the type and degree 
- Regression helps to retrieve the exact mathematical correlation between the two variables
- Simple Linear Regression 
    - y = l + mx
    - l and m found by regression models 
    - y is the dependent and x is the independent 
- Multiple Linear Regression 
    - y = k0 + k1x1 + k2x2 + .... + knxn
    - more than one independent variable
- Replace missing values in data field by the average value of that coulumn by the method:
    - `pandas_object.fillna(mean/mode/median of that column, inplaces=True)`

## Developing a model to predict yield based on input temperature and time
Note: y(yield) = k1 + k2(Time) + k2(Temperature)

In [4]:
import pandas as mypd
import matplotlib.pyplot as plt
import seaborn as mysb
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

#### Cross Validation (cross_val_score)
- Leaving out different sets of data and training models based on the left out sets, taking the average of the score and if it is better than the original then we can proceed with the latest one instead of the original

In [8]:
mydata = mypd.read_csv("Mult_Reg_Yield.csv")
mydata

    Time  Temperature  Yield
0    130          190   35.0
1    174          176   81.7
2    134          205   42.5
3    191          210   98.3
4    165          230   52.7
5    194          192   82.0
6    143          220   34.5
7    186          235   95.4
8    139          240   56.7
9    188          230   84.4
10   175          200   94.3
11   156          218   44.3
12   190          220   83.3
13   178          210   91.4
14   132          208   43.5
15   148          225   51.7

In [10]:
#to check missing values
mydata.describe()

             Time  Temperature      Yield
count   16.000000    16.000000  16.000000
mean   163.937500   213.062500  66.981250
std     23.450569    17.650189  23.705336
min    130.000000   176.000000  34.500000
25%    142.000000   203.750000  44.100000
50%    169.500000   214.000000  69.200000
75%    186.500000   226.250000  86.150000
max    194.000000   240.000000  98.300000

In [11]:
#delete rows with missing values
mydata.dropna()

    Time  Temperature  Yield
0    130          190   35.0
1    174          176   81.7
2    134          205   42.5
3    191          210   98.3
4    165          230   52.7
5    194          192   82.0
6    143          220   34.5
7    186          235   95.4
8    139          240   56.7
9    188          230   84.4
10   175          200   94.3
11   156          218   44.3
12   190          220   83.3
13   178          210   91.4
14   132          208   43.5
15   148          225   51.7